html {
    font-size: 62.5%; /* 1rem = 10px */
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.nav__item {
    font-size: 1.5rem;

}

.nav__item a {
    text-decoration: none;
    color: var(--titlesColor);
}